In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\tom_r\Downloads\Crimes_-_2001_to_Present_20250306.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8267816 entries, 0 to 8267815
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

In [4]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,13311263,JG503434,07/29/2022 03:39:00 AM,023XX S TROY ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,True,False,...,25.0,30.0,17,NaN,NaN,2022,04/18/2024 03:40:59 PM,NaN,NaN,NaN
1,13053066,JG103252,01/03/2023 04:44:00 PM,039XX W WASHINGTON BLVD,2017,NARCOTICS,MANUFACTURE / DELIVER - CRACK,SIDEWALK,True,False,...,28.0,26.0,18,NaN,NaN,2023,01/20/2024 03:41:12 PM,NaN,NaN,NaN
2,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42.0,32.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,13203321,JG415333,09/06/2023 05:00:00 PM,002XX N Wells st,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,42.0,32.0,14,1174694.0,1901831.0,2023,11/04/2023 03:40:18 PM,41.886018,-87.633938,"(41.886018055, -87.633937881)"
4,13204489,JG416325,09/06/2023 11:00:00 AM,0000X E 8TH ST,0810,THEFT,OVER $500,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,4.0,32.0,06,1176857.0,1896680.0,2023,11/04/2023 03:40:18 PM,41.871835,-87.626151,"(41.871834768, -87.62615082)"

In [5]:
df['Primary Type'].value_counts()

Primary Type
THEFT                                1752248
BATTERY                              1506629
CRIMINAL DAMAGE                       940587
NARCOTICS                             759139
ASSAULT                               549914
OTHER OFFENSE                         514515
BURGLARY                              439217
MOTOR VEHICLE THEFT                   419846
DECEPTIVE PRACTICE                    377349
ROBBERY                               310747
CRIMINAL TRESPASS                     223274
WEAPONS VIOLATION                     121165
PROSTITUTION                           70287
OFFENSE INVOLVING CHILDREN             59243
PUBLIC PEACE VIOLATION                 54072
SEX OFFENSE                            33282
CRIM SEXUAL ASSAULT                    27364
INTERFERENCE WITH PUBLIC OFFICER       19632
LIQUOR LAW VIOLATION                   15255
GAMBLING                               14653
ARSON                                  14175
HOMICIDE                               13683
CRIMINAL SEXUAL ASSAULT                10177
KIDNAPPING                              7435
STALKING                                5779
INTIMIDATION                            5010
CONCEALED CARRY LICENSE VIOLATION       1466
OBSCENITY                                915
PUBLIC INDECENCY                         213
NON-CRIMINAL                             189
OTHER NARCOTIC VIOLATION                 157
HUMAN TRAFFICKING                        127
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: count, dtype: int64

In [6]:
df['Description'].value_counts()

Description
SIMPLE                                               970477
$500 AND UNDER                                       666185
DOMESTIC BATTERY SIMPLE                              645848
TO VEHICLE                                           462849
OVER $500                                            449767
                                                      ...
THEFT RETAIL                                              1
AGGRAVATED: HANDS / FIST / FEET NO / MINOR INJURY         1
INTERNET OFFENSES - ELECTRONIC FENCING                    1
INTERFERE WITH HIGHER EDUCATION                           1
KEEPING PLACE OF PROSTITUTION                             1
Name: count, Length: 573, dtype: int64

In [7]:
# make column names sql friendly
df.columns = [col.lower().replace(" ", "_") for col in df.columns]

In [8]:
df.columns.values

array(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic',
       'beat', 'district', 'ward', 'community_area', 'fbi_code',
       'x_coordinate', 'y_coordinate', 'year', 'updated_on', 'latitude',
       'longitude', 'location'], dtype=object)

In [9]:
# convert date columns
df['date'] = pd.to_datetime(df['date'])

In [10]:
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,13311263,JG503434,2022-07-29 03:39:00,023XX S TROY ST,1582,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,RESIDENCE,True,False,...,25.0,30.0,17,NaN,NaN,2022,04/18/2024 03:40:59 PM,NaN,NaN,NaN
1,13053066,JG103252,2023-01-03 16:44:00,039XX W WASHINGTON BLVD,2017,NARCOTICS,MANUFACTURE / DELIVER - CRACK,SIDEWALK,True,False,...,28.0,26.0,18,NaN,NaN,2023,01/20/2024 03:41:12 PM,NaN,NaN,NaN
2,11227634,JB147599,2017-08-26 10:00:00,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42.0,32.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,13203321,JG415333,2023-09-06 17:00:00,002XX N Wells st,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,42.0,32.0,14,1174694.0,1901831.0,2023,11/04/2023 03:40:18 PM,41.886018,-87.633938,"(41.886018055, -87.633937881)"
4,13204489,JG416325,2023-09-06 11:00:00,0000X E 8TH ST,0810,THEFT,OVER $500,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,...,4.0,32.0,06,1176857.0,1896680.0,2023,11/04/2023 03:40:18 PM,41.871835,-87.626151,"(41.871834768, -87.62615082)"

In [11]:
print(sorted(df['community_area'].value_counts().index))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0]

In [12]:
# strip unwanted column

wanted_columns = ['id', 'case_number', 'date', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic',
       'beat', 'district', 'ward', 'community_area', 
       'x_coordinate', 'y_coordinate', 'year', 'updated_on', 'latitude',
       'longitude']

df = df[wanted_columns].copy()

In [13]:
print(df.info(memory_usage="deep"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8267816 entries, 0 to 8267815
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   case_number           object
 2   date                  datetime64[ns]
 3   primary_type          object
 4   description           object
 5   location_description  object
 6   arrest                bool
 7   domestic              bool
 8   beat                  int64
 9   district              float64
 10  ward                  float64
 11  community_area        float64
 12  x_coordinate          float64
 13  y_coordinate          float64
 14  year                  int64
 15  updated_on            object
 16  latitude              float64
 17  longitude             float64
dtypes: bool(2), datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 3.4 GB
None

In [14]:
for col in df.columns:
    print(col, df[col].isna().sum())

id 0
case_number 0
date 0
primary_type 0
description 0
location_description 14015
arrest 0
domestic 0
beat 0
district 47
ward 614826
community_area 613452
x_coordinate 91542
y_coordinate 91542
year 0
updated_on 0
latitude 91542
longitude 91542

In [15]:
# converting text columns to categorical 

df['primary_type'] = df['primary_type'].astype('category')
df['description'] = df['description'].astype('category')
df['location_description'] = df['location_description'].astype('category')


# converting boolean columns

df['arrest'] = df['arrest'].astype(bool)
df['domestic'] = df['domestic'].astype(bool)

# Convert float columns that should be int 
df['district'] = df['district'].astype('Int16') 
df['ward'] = df['ward'].astype('Int16')
df['community_area'] = df['community_area'].astype('Int16')

# convert lat and long to decimal precision 

df['latitude'] = df['latitude'].astype('float32')
df['longitude'] = df['longitude'].astype('float32')

# convert the remaining date column
df['updated_on'] = pd.to_datetime(df['updated_on'])

C:\Users\tom_r\AppData\Local\Temp\ipykernel_30428\1346404039.py:24: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['updated_on'] = pd.to_datetime(df['updated_on'])

In [16]:
print(df.info(memory_usage="deep"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8267816 entries, 0 to 8267815
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   case_number           object
 2   date                  datetime64[ns]
 3   primary_type          category
 4   description           category
 5   location_description  category
 6   arrest                bool
 7   domestic              bool
 8   beat                  int64
 9   district              Int16
 10  ward                  Int16
 11  community_area        Int16
 12  x_coordinate          float64
 13  y_coordinate          float64
 14  year                  int64
 15  updated_on            datetime64[ns]
 16  latitude              float32
 17  longitude             float32
dtypes: Int16(3), bool(2), category(3), datetime64[ns](2), float32(2), float64(2), int64(3), object(1)
memory usage: 1.1 GB
None