In [1]:
import pandas as pd

In [6]:
# concat datasets

apr = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-April-2024-revised.csv")
may = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-May-2024.csv")
jun = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-June-2024.csv")
jul = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-July-2024-revised.csv")
aug = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-August-2024.csv")
sept = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-September-2024.csv")
octo = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-October-2024-revised.csv")
nov = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-November-2024-revised.csv")
dec = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-December-2024.csv")
jan = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-January-2025.csv")
feb = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-February-2025-revised.csv")
mar = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-March-2025.csv")

df = pd.concat([apr, may, jun, jul, aug, sept, octo, nov, dec, jan, feb, mar])

In [7]:
df

,Period,Org Code,Parent Org,Org name,A&E attendances Type 1,A&E attendances Type 2,A&E attendances Other A&E Department,A&E attendances Booked Appointments Type 1,A&E attendances Booked Appointments Type 2,A&E attendances Booked Appointments Other Department,...,Emergency admissions via A&E - Type 1,Emergency admissions via A&E - Type 2,Emergency admissions via A&E - Other A&E department,Other emergency admissions,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,a
0,MSitAE-APRIL-2024,AAH,NHS ENGLAND SOUTH WEST,TETBURY HOSPITAL TRUST LTD,0,0,546,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,MSitAE-APRIL-2024,RAN,NHS ENGLAND LONDON,ROYAL NATIONAL ORTHOPAEDIC HOSPITAL NHS TRUST,0,0,0,0,0,0,...,0,0,0,41,NaN,NaN,NaN,NaN,NaN,NaN
2,MSitAE-APRIL-2024,8J094,NHS ENGLAND MIDLANDS,BADGER LTD,0,0,0,0,0,2078,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,MSitAE-APRIL-2024,AD913,NHS ENGLAND LONDON,BECKENHAM BEACON UCC,0,0,3694,0,0,104,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,MSitAE-APRIL-2024,AQN04,NHS ENGLAND SOUTH EAST,PHL LYMINGTON UTC,0,0,2897,0,0,7,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,MSitAE-MARCH-2025,RWJ,NHS ENGLAND NORTH WEST,STOCKPORT NHS FOUNDATION TRUST,8213,0,1240,314,0,1334,...,2843,0,82,956,NaN,NaN,NaN,NaN,NaN,NaN
195,MSitAE-MARCH-2025,RWX,NHS ENGLAND SOUTH EAST,BERKSHIRE HEALTHCARE NHS FOUNDATION TRUST,0,0,1479,0,0,0,...,0,0,19,0,NaN,NaN,NaN,NaN,NaN,NaN
196,MSitAE-MARCH-2025,RAS,NHS ENGLAND LONDON,THE HILLINGDON HOSPITALS NHS FOUNDATION TRUST,6236,0,6892,0,0,0,...,1883,0,0,57,NaN,NaN,NaN,NaN,NaN,NaN
197,MSitAE-MARCH-2025,RJ1,NHS ENGLAND LONDON,GUY'S AND ST THOMAS' NHS FOUNDATION TRUST,10247,727,7130,0,0,0,...,2054,0,0,220,NaN,NaN,NaN,NaN,NaN,NaN
198,TOTAL,TOTAL,TOTAL,TOTAL,1418235,50646,830779,32451,591,56362,...,404354,1366,4569,140840,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns.values

array(['Period', 'Org Code', 'Parent Org', 'Org name',
       'A&E attendances Type 1', 'A&E attendances Type 2',
       'A&E attendances Other A&E Department',
       'A&E attendances Booked Appointments Type 1',
       'A&E attendances Booked Appointments Type 2',
       'A&E attendances Booked Appointments Other Department',
       'Attendances over 4hrs Type 1', 'Attendances over 4hrs Type 2',
       'Attendances over 4hrs Other Department',
       'Attendances over 4hrs Booked Appointments Type 1',
       'Attendances over 4hrs Booked Appointments Type 2',
       'Attendances over 4hrs Booked Appointments Other Department',
       'Patients who have waited 4-12 hs from DTA to admission',
       'Patients who have waited 12+ hrs from DTA to admission',
       'Emergency admissions via A&E - Type 1',
       'Emergency admissions via A&E - Type 2',
       'Emergency admissions via A&E - Other A&E department',
       'Other emergency admissions', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'a'], dtype=object)

In [ ]:
df = df[['Period', 'Org Code', 'Parent Org', 'Org name',
       'A&E attendances Type 1', 'A&E attendances Type 2',
       'A&E attendances Other A&E Department',
       'A&E attendances Booked Appointments Type 1',
       'A&E attendances Booked Appointments Type 2',
       'A&E attendances Booked Appointments Other Department',
       'Attendances over 4hrs Type 1', 'Attendances over 4hrs Type 2',
       'Attendances over 4hrs Other Department',
       'Attendances over 4hrs Booked Appointments Type 1',
       'Attendances over 4hrs Booked Appointments Type 2',
       'Attendances over 4hrs Booked Appointments Other Department',
       'Patients who have waited 4-12 hs from DTA to admission',
       'Patients who have waited 12+ hrs from DTA to admission',
       'Emergency admissions via A&E - Type 1',
       'Emergency admissions via A&E - Type 2',
       'Emergency admissions via A&E - Other A&E department',
       'Other emergency admissions']]